# ignore build builds
**/build/**/*

# protect against build artifacts from random packages

# ignore all src files
src/**/*

# don't ignore dirs again
!src/**/

# don't ignore .tex and .bib as only valid files
!src/**/*.tex
!src/**/*.bib

# accept any files in assets
!**/assets/**/*
